extends ../template/layout
include ../mixins/form-helper.jade

block content
  - var numbers = [0,1,2,3,4,5,6,7,8,9];
  .row
    .small-12.columns
      img#startLogo(src="../images/logo.png")
  .row
    .small-12.columns
      button#startGame.button.small-12.radius.expand Start Game


  .row#form.hidden
      .small-2.columns
        select#selectHero(name='hero') Select Character
          option(value='Cap') Captain America
          option(value='Hulk') The Hulk
          option(value='Thor') Thor
          option(value='IronMan') Iron Man
      .small-2.columns
        select#selectStage(name='name')  Select Stage
          option(value='Desert') Desert
          option(value='Jungle')  Jungle
          option(value='Tundra') Tundra
          option(value='City')  City
      .small-6.columns
        mixin field(3, 'text', 'player', null ,null, null, true, 'player')
      .small-2.columns
        button#start.small.expand Start

  .row
    .small-12.columns
      table#game.hidden
        tbody
          each y in numbers
            tr
              each x in numbers
                td.cell(data-x=x, data-y=y, data-name)
                  .health
                  .player

